/* 
--------------------------------

	ELEMENTS - ALL

--------------------------------
 */
h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Inter", sans-serif; !important
  font-optical-sizing: auto; !important
  font-style: normal; 
  color: white;
}

a {
	text-decoration: none;
}
h2 {
	font-size: 96px;
	font-weight: 800;
}
h3 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
}
h4 {
	font-size: 32px;
	font-weight: 900;
	margin-bottom: 40px;
}


/* 
--------------------------------

	ELEMENTS - HEADER

--------------------------------
 */
.header-page {
	width: 100%;
	height: 95px;

}
.nav-header {
	background-color: #10002B;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px 10px 40px;
	width: 100%;
	height: 76px;
	position: fixed;
}
.link-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-text {
	font-size: 40px;
	font-weight: 800;
}
.link-nav {
	font-size: 20px;
	font-weight: bold;
	margin-right: 96px;
}
.btn-aprender {
	background-color: #9D4EDD;
	border-radius: 15px;
	text-transform: uppercase;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 171px;
	height: 46px;
}
.btn-aprender-title, .btn-aprender-title-black {
	background-color: #9D4EDD;
	border-radius: 15px;
	text-transform: uppercase;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 212px;
	height: 47px;

	font-size: 20px;
	font-weight: bold;

	text-align: center;
	margin: 0;
}



/* 
--------------------------------

	HOME PAGE

--------------------------------
*/
/*
====================
	TITLE
====================
*/
.home-page-title {
	background: rgb(16,0,43);
	background: linear-gradient(180deg, rgba(16,0,43,1) 0%, rgba(90,24,154,1) 100%);
	height: 630px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.title-first-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.subtitle {
	font-size: 24px;
	margin-bottom: 25px;
}


/*
====================
	Montains
====================
*/
.section-mountains-1 {
	background-image: url("../img/mountains.svg");
	height: 277px;
	width: 100%;
}
/*.section-mountains-1 img {
	width: 100%;
}*/
.section-mountains-2 {
	background-image: url("../img/mountains_2.svg");
}
.section-mountains-3 {
	background-image: url("../img/mountains_3.svg");
}

/*
====================
	METODOS DE ENSINO
====================
*/
.container-metodos {
	display: flex;
	align-items: center;
	flex-direction: column;

}
.metodo-itens-container {
	display: flex;
	justify-content: space-around;
	align-items: center;

	font-weight:bold;
}
.metodo-itens {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.metodo-itens p {
	text-align: center;
	font-size: 24px;
}
.container-metodos-aprendizado {
	background: rgb(36,0,70);
	background: linear-gradient(180deg, rgba(36,0,70,1) 0%, rgba(114,14,158,1) 100%);
}
.container-metodos-aprendizado {
	width: 100%;
	height: 625px;
}

/*
====================
	Montains
====================
*/


/*
====================
	Montains
====================
*/


/*
====================
	Montains
====================
*/